<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    $partial("templates/head.html")$
    <body>
      <div class="page-content">
        <div class="container">
          <div class="three columns">
            $partial("templates/header.html")$
          </div>

          <div class="nine columns" style="z-index:100;">
            <div class="wrapper">
              $body$
            </div>
          </div>
        </div>
        $partial("templates/footer.html")$
      </div>
    </body>
</html>
