<header class="site-header">
  
  <h2 class="logo"><a href="/">Smos</a></h2>

  <div class="nav">
    <input type="checkbox" id="menu-toggle">

    <div class="site-nav">
      <nav>
        <ul class="page-link">
          <li><a href="/">Home</a></li>
          <li><a href="/pages/features.html">Features</a></li>
          <li><a href="/pages/building-installation.html">Building/Installation</a></li>
          <li><a href="/pages/customisation-haskell.html">Customisation in Haskell</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>
