<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tom Sydney Kerckhove" />
  <meta http-equiv="Cache-Control" content="max-age=86400, must-revalidate" />

  <title>Smos Documentation - $title$</title>

  <link rel="stylesheet" href="/css/main.css">
</head>

