name: "Nix Build"
on:
  pull_request:
  push:
    branches:
      - development
      - master

jobs:
  nix-build:
    name: ${{ matrix.os }} / Nix
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v10
      with:
        skip_adding_nixpkgs_channel: true
    - name: free disk space
      run: |
        if [[ "${{matrix.os}}" == "ubuntu-latest" ]]
        then
          sudo rm -rf /opt
        fi
    - uses: cachix/cachix-action@ffed6b919f842f223dbee6fde9d3d1cdf23a118e
      with:
        name: smos
        extraPullNames: iohk,validity,dirforest,cursor,cursor-dirforest,mergeful,yamlparse
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: nix-build default.nix
