name: "Nix Build"
on:
  pull_request:
  push:
    branches:
      - development
      - master

jobs:
  nix-build:
    name: ${{ matrix.os }} / Nix
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v8
    - name: free disk space
      run: |
        if [[ "${{matrix.os}}" == "ubuntu-latest" ]]
        then
          sudo rm -rf /opt
        fi
    - uses: cachix/cachix-action@v6
      with:
        name: iohk
    - uses: cachix/cachix-action@v6
      with:
        name: validity
    - uses: cachix/cachix-action@v6
      with:
        name: dirforest
    - uses: cachix/cachix-action@v6
      with:
        name: cursor
    - uses: cachix/cachix-action@v6
      with:
        name: cursor-dirforest
    - uses: cachix/cachix-action@v6
      with:
        name: mergeful
    - uses: cachix/cachix-action@v6
      with:
        name: yamlparse
    - uses: cachix/cachix-action@v6
      with:
        name: smos
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: nix-build default.nix
  macos_perf_test:
    name: macos_perf_test / Nix
    runs-on: macos-latest
    steps:
    - name: Disable syspolicy assessments
      run: |
        spctl --status
        sudo spctl --master-disable
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v8
    - name: free disk space
      run: |
        if [[ "${{matrix.os}}" == "ubuntu-latest" ]]
        then
          sudo rm -rf /opt
        fi
    - uses: cachix/cachix-action@v6
      with:
        name: iohk
    - uses: cachix/cachix-action@v6
      with:
        name: validity
    - uses: cachix/cachix-action@v6
      with:
        name: dirforest
    - uses: cachix/cachix-action@v6
      with:
        name: cursor
    - uses: cachix/cachix-action@v6
      with:
        name: cursor-dirforest
    - uses: cachix/cachix-action@v6
      with:
        name: mergeful
    - uses: cachix/cachix-action@v6
      with:
        name: yamlparse
    - uses: cachix/cachix-action@v6
      with:
        name: smos
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: nix-build default.nix
      
